@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
 display: flex;
 flex-direction: column;
 column-gap: 20px;
 justify-content: center;
 align-items: center;
 align-self: auto;
}